<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="MatchesMapper">

    <!-- Beans 클래스의 객체이름(id)과 클래스이름(type)을 명시한다. -->
    <resultMap id="matchesMap" type="com.newdeal.footballMaster.model.Matches">

    	<!-- Beans의 멤버변수(property)이름과 대상 테이블의 컬럼(column)을 연결한다. -->
        <result property="id" column="id" />
        <result property="match_date" column="match_date" />
		<result property="gender_rule" column="gender_rule" />
		<result property="level" column="level" />
		<result property="name" column="name" />
		<result property="fields_id" column="fields_id" />
		<result property="managers_id" column="managers_id" />
		<result property="participation_fee" column="participation_fee" />
		<result property="place" column="place" />
		<result property="man_to_man_rule" column="man_to_man_rule" />
		<result property="floor_material" column="floor_material" />
		<result property="shose_rule" column="shose_rule" />
		<result property="min_people" column="min_people" />
		<result property="max_people" column="max_people" />
		<result property="size" column="size" />
		<result property="shower_room" column="shower_room" />
		<result property="park" column="park" />
		<result property="shose_rent" column="shose_rent" />
		<result property="clothes_rent" column="clothes_rent" />
		<result property="special_thing" column="special_thing" />
		<result property="area" column="area" />
		<result property="users_id" column="users_id" />
		
    </resultMap>
	
	<!-- 매치 정보 가져오기 -->
	<!--
    <select id="selectMatches" parameterType="com.newdeal.footballMaster.model.Match"
        resultMap="matchMap">
        SELECT HOUR(match_date) AS match_date,
        	   IF(gender_rule='M', '남성', IF(gender_rule='F', '여성', '혼성')) AS gender_rule,
        	   IF(level='L', '일반 (Lv 1~5)', IF(level='M', '중급 (Lv 3~5)', '고급 (Lv 5)')) AS level,
        	   name
        FROM footballMaster.match m, field f
		WHERE m.field_id = f.id
		AND gender_rule IN #{gender_rule}
		AND level IN #{level}
		AND area = #{area}
		AND match_date BETWEEN #{day}000000 AND #{day}235959
		ORDER BY match_date; 
    </select>
    -->
    
    <!-- 단일 매치 정보 가져오기 -->
    <select id="selectMatch" parameterType="com.newdeal.footballMaster.model.Matches"
        resultMap="matchesMap">
        SELECT match_date,
        	   IF(gender_rule='M', '남성', IF(gender_rule='F', '여성', '혼성')) AS gender_rule,
        	   IF(level='L', '일반 (Lv 1~5)', IF(level='M', '중급 (Lv 3~5)', '고급 (Lv 5)')) AS level,
        	   fields_id, m.id, f.name, r.name, participation_fee, place,
        	   IF(man_to_man_rule='A', '3:3', IF(man_to_man_rule='B', '4:4', IF(man_to_man_rule='C', '5:5', IF(man_to_man_rule='D', '6:6', '7:7')))) AS man_to_man_rule,
        	   IF(floor_material='G', '잔디', '우레탄') AS floor_material,
               IF(shose_rule='F', '풋살화', '모든 신발') AS shose_rule,
               IF(shower_room='Y', '있음', '없음') AS shower_room, 
               IF(park='Y', '있음', '없음') AS park,
               IF(shose_rent='Y', '가능', '불가능') AS shose_rent,
               IF(clothes_rent='Y', '가능', '불가능') AS clothes_rent,
               IF(area='A', '서울', IF(area='B', '경기', IF(area='C', '인천', IF(area='D', '대전', IF(area='E', '대구', IF(area='F', '부산', IF(area='G', '울산', IF(area='H', '광주', IF(area='I', '충북', IF(area='J', '경북', IF(area='K', '전북', IF(area='L', '충남', '경남')))))))))))) AS area,
               min_people, max_people, size, special_thing, m.id
        FROM matches m, fields f, managers r
		WHERE m.id = #{id}
        AND f.id = (SELECT fields_id FROM matches WHERE id = #{id})
        AND r.id = (SELECT id FROM managers WHERE id = (SELECT managers_id FROM matches WHERE id = #{id}));
    </select>
    
    <!-- 유저 매치 정보 가져오기 -->
    <select id="selectUserMatches" parameterType="com.newdeal.footballMaster.model.Matches"
        resultMap="matchesMap">
		SELECT match_date, m.id,
        	   IF(gender_rule='M', '남성', IF(gender_rule='F', '여성', '혼성')) AS gender_rule,
        	   IF(level='L', '일반 (Lv 1~5)', IF(level='M', '중급 (Lv 3~5)', '고급 (Lv 5)')) AS level,
        	   status
        FROM matches m, users_matches u
		WHERE m.id = u.matches_id
        AND u.users_id = #{users_id};
    </select>
    
    <!-- 해당 유저의 매치 존재 유무 확인 -->
    <select id="checkUserMatch" parameterType="com.newdeal.footballMaster.model.Matches"
        resultMap="matchesMap">
		SELECT id
        FROM users_matches
		WHERE users_id = #{users_id}
		AND matches_id = #{id};
    </select>
    
    <!-- 유저 매치 생성 -->
	<insert id="createUserMatches" parameterType="com.newdeal.footballMaster.model.Matches"
	useGeneratedKeys="true" keyProperty="id">
		INSERT INTO users_matches (users_id, matches_id)
		VALUES (#{users_id}, #{id});
	</insert> 
    
    <!-- 유저 매치 상태 변경 -->
	<update id="updateUserMatch" parameterType="com.newdeal.footballMaster.model.Matches">
		UPDATE users_matches 
		SET status = #{status} 
		WHERE users_id = #{users_id}
		AND matches_id = #{id};
	</update> 
	
	<!-- 유저 매치 기간 판별 -->
    <select id="checkUserMatchDate" parameterType="com.newdeal.footballMaster.model.Matches"
        resultMap="matchesMap">
		SELECT id
        FROM matches
		WHERE <![CDATA[match_date > now()]]>
		AND id = #{id};
    </select>

</mapper>